:root {
  --main-color: #4C858B;
  --border-color: #E5E5E5;
  --title-bg-color: #E33E54;
  --header-cart-bg-color: #E33E54;
  --socials-bg-color: #EA6628;
  --callback-color: #AE2236;
  --welcome-text-color: #E33E54;
  --advantages-title-color: #E33E54;
  --list-marker-color: #EA6628;
  --order-list-marker-color: #E33E54;
  --breadcrumbs-link-color: #B1B1B1;
  --reason-text-color: #E33E54;
  --form-text-color: #EA6628;
  --form-input-color: #B1B1B1;
  --form-btn-bg-color: #215359;
  --footer-bg-color: #0C2F33;
  --light-color: #FFFFFF;
  --dark-color: #000000;
}