include ../constants/constants.pug

section.advantages
  .container.advantages-container
    .advantages-list-container 
      h2.advantages__title.section-title Lorem ipsum dolor sit amet <span class="advantages__title_colored">Lorem ipsum</span>
      ul.advantages-list
        each itemText in advantagesList
          li.advantages-list__item= itemText
    .advantages-img-container
      img.advantages__img(src=require('../../assets/chimney.png'), alt="chimney")