section.welcome-section
  .container.welcome-container
    h1.title="Монтаж дымоходов"
    .breadcrumbs
      a(href="#")="Главная"
      span.breadcrumbs__separator 
      a(href="#")="Монтаж дымоходов"
    p.description="В Дымоход.ру  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть ."