section.welcome-section
  .container.welcome-container
    h1.welcome__title.title Монтаж дымоходов
    .breadcrumbs
      a.breadcrumbs__link.breadcrumbs__link_active(href="#") Главная
      span.breadcrumbs__separator 
      a.breadcrumbs__link(href="#") Монтаж дымоходов
    p.welcome__text В <span class="welcome__text_colored">Дымоход.ру</span>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .