.page-wrapper {
  height: 100vh;
  background-color: #f3f6f9;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-num {
  width: 300px;
  font: inherit;
  letter-spacing: inherit;
  color: rgb(61, 71, 82);
  padding: 4px 0 5px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  display: block;
  min-width: 0;
  padding: 16.5px 14px;
  margin-right: 20px;
  border-radius: 8px;
}

p {
  text-align: center;
}