-
  var advantagesList = [
    'Доступные цены',
    'Собственное производство Дымоходов',
    'Выполнение необходимых работ, связанных с установкой камина, печи, котла',
    'Гарантия (от трёх до десяти лет)',
    'Работаем чисто, аккуратно, убираем за собой, не сквернословим',
    'Только русские квалифицированные специалисты',
    'Устанавливаем любые дымоходы всех производителей'
  ]

- 
  var navArr = [
    { 
      href:"#", 
      text:"Каталог товаров" 
    },
    { 
      href:"#", 
      text:"Доставка и оплата" 
    },
    { 
      href:"#", 
      text:"Цены" 
    },
    { 
      href:"#", 
      text:"Контакты" 
    }
  ]

- 
  var socialsArr = [
    { 
      href:"vk.com", 
      text:"",
      class: "vk"
    },
    { 
      href:"telegram.com", 
      text:"",
      class: "tg"
    },
    { 
      href:"instagram.com", 
      text:"",
      class: "inst"
    },
    { 
      href:"whatsapp.com", 
      text:"",
      class: "whatsapp"
    }
  ]

-
  var processList = [
    'Рассчёт предварительной заявки',
    'Замер объекта нашим инженером',
    'Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы ',
    'Изготовление Дымохода, покраска (если требуется)',
    'Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация',
    'Гарантийное обслуживание по соответствующем сроку',
  ]

- 
  var firstFooterMenu = [
    { 
      href:"#", 
      text:"Дымоходы" 
    },
    { 
      href:"#",
      text:"Камины" 
    },
    { 
      href:"#",
      text:"Дымососы" 
    },
    { 
      href:"#",
      text:"Силикат кальция" 
    },
    { 
      href:"#",
      text:"Печи для дома" 
    },
    { 
      href:"#",
      text:"Котлы" 
    },
    { 
      href:"#",
      text:"Печи для бани" 
    },
    { 
      href:"#",
      text:"Ещё" 
    }
  ]

- 
  var secondFooterMenu = [
    { 
      href:"#", 
      text:"Каталог" 
    },
    { 
      href:"#",
      text:"Полезное" 
    },
    { 
      href:"#",
      text:"Установка и монтаж" 
    },
    { 
      href:"#",
      text:"Контакты" 
    },
    { 
      href:"#",
      text:"Отзывы" 
    },
    { 
      href:"#",
      text:"Оплата и доставка" 
    },
    { 
      href:"#",
      text:"Ликвидация товара" 
    }
  ]